<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="https://github.com/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/docs.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/visus.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>zhaopuming's blog</title>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li> <a href="/">首页</a> </li>
              <li> <a href="/blogs.html">博文</a> </li>
              <li> <a href="/d.html">D语言</a> </li>
              <li> <a href="/kotlin.html">Kotlin语言</a> </li>
            </ul>
            <ul class="nav pull-right">
              <li>
                <a rel="tooltip" href="https://github.com/zhaopuming" target="_blank">
                  GitHub
                  <i class="icon-white icon-share-alt"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
          {{ content }}
      </div>
    </div>

    <script type='text/javascript'>
      (function() {
       var c = document.createElement('script'); 
       c.type = 'text/javascript';
       c.async = true;
       c.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'www.clicki.cn/boot/47111';
       var h = document.getElementsByTagName('script')[0];
       h.parentNode.insertBefore(c, h);
       })();
     </script>
   </body>
 </html>
