---
layout: default
is_index: false
---

<header class="jumbotron subhead">
<div class="row">
  <div class="span12">
    <h1>
      {{ page.title }}
      <span class="pull-right">
        <small>{{ page.date | date: "%Y年%m月%d日" }}</small>
      </span>
    </h1>
    <hr/>
  </div>
</div>
</header>
<div class="row">
  <div id="post" class="span12">
    {{ content }}
  </div>
</div>

<div class="row">
  <div class="span12">
    <div id="related">
      <br/><br/>
      <hr/>
      <h3>相关文章 | Related Posts</h3>
      <ul class="posts">
        {% for post in site.related_posts limit:3 %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
